.graphiql-container .topBarWrap {
  @apply h-16 px-4 items-center bg-gray-800 border-b;
}
@screen md {
  .graphiql-container .topBarWrap {
    @apply px-8;
  }
}
@screen xl {
  .graphiql-container .topBarWrap {
    @apply px-12;
  }
}

.graphiql-container .topBar,
.graphiql-container .doc-explorer-title-bar,
.graphiql-container .history-title-bar {
  box-sizing: content-box;
}

.graphiql-container .topBar {
  background-image: none;
  @apply px-0 border-none bg-auto text-gray-200;
}

.graphiql-container .topBar .title {
  @apply relative border-none w-20 h-8;
}
.graphiql-container .topBar .title > span {
  @apply hidden;
}
.graphiql-container .topBar .title::after {
  content: "Sandbox";
  @apply absolute inset-0 bg-gray-800 text-white text-lg font-semibold leading-8 rounded ml-1;
}

.graphiql-container .execute-button {
  background-image: none;
  fill: white;
  @apply shadow-none bg-pink-600 border-pink-600;
}
.graphiql-container .execute-button:active {
  background-image: none;
  @apply shadow-none bg-pink-800 border-pink-800;
}

.graphiql-container .toolbar-button {
  background-image: none;
  @apply shadow-none border-none bg-gray-900 text-gray-200 text-base py-1 px-2;
}
.graphiql-container .toolbar-button:active {
  background-image: none;
  @apply shadow-none bg-black;
}
.graphiql-container .toolbar-button:not(:first-child) {
  @apply hidden;
}

.graphiql-container .CodeMirror-foldgutter,
.graphiql-container .variable-editor-title {
  @apply bg-gray-200;
}

.graphiql-container .docExplorerShow {
  background-image: none;
  @apply relative border-none h-8 w-24 mr-1;
}
.graphiql-container .docExplorerShow::before {
  @apply hidden;
}
.graphiql-container .docExplorerShow::after {
  content: "Schema";
  @apply absolute inset-0 bg-pink-600 text-white text-base text-center font-semibold leading-8 rounded;
}
