@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply antialiased;
  }

  ::selection {
    background-color: #0070f3;
    color: #fff;
  }

  .docs a {
    @apply text-gray-600 font-semibold;
  }
  .docs a:hover {
    @apply text-black;
  }

  .docs p {
    @apply leading-7;
  }

  .docs h2 {
    @apply text-4xl;
  }
  .docs h3 {
    @apply text-2xl;
  }
  .docs h4 {
    @apply text-base;
  }

  .docs h2,
  .docs h3,
  .docs h4 {
    @apply font-bold;
  }
}

@layer utilities {
}
